body {
    background-color: beige;
}

.heading {
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: "600";
}

.form-heading {
    text-align: center;
    color: rgb(6, 6, 155);
}

.MuiTypography-root .css-1juivf6-MuiTypography-root {
    font-family: 'Times New Roman', Times, serif;
    font-size: '2.4rem';
    font-weight: "600";
}