body {
    background-color: beige;
}

.heading {
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: "600";
}

.form-heading {
    text-align: center;
    color: rgb(6, 6, 155);
}

.paperStyle {
    padding: 20px;
    height: 45vh;
    width: 400px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    line-height: 2px;
}

.button-div {
    margin-right: 8px;
}